extends base.pug

block scripts 
  script(src = "/static/index.js")

block style 
   style 
    include ../static/style.css
    include ../static/styleabout.css
block content 
   div.aboutus
        h1 About Us 
        p Ronit Dance Academy
        hr
        div.content
            h2 Ronit Dance Academy 
            h2 Mission & Vision 
            h3 Dance is one of the most expressive crafts known to mankind.
            div.para
                p People of all ages and preferences admire dance and, people in India are no different. In our country, there is a song and dance for virtually  every season and reason. Despite so much love towards this art, people are averse to the idea of taking up dancing as a profession.
                p It is a common perception among people that dancing is not a respectable way of earning a living. Fortunately, things have changed a lot since Zenith Dance Academy opened its doors 20 years ago. With every step we take, with every move we make; we bring our students closer to dance and help to build their passion into a profession. Or simply, teach what they love doing the most, i.e., DANCE!!!
            button.btn 
                    | BOOK NOW FOR TRIAL
        hr
        div.section2
            h1  Want to Know more 
            p Want to get in touch? We'd love to hear from you. Here's how you can reach us 
            div.box
                div.box1
                    h1 Still have Questions?
                    p Have a Question About our dance classes & Courses, Call us at +91 8445 5356705, +91 999 999 999 or Write a mail info@, Our team is ready to answer all your questions.
                    button.btn1 
                        | WRITE A MAIL
                div.box1
                    h1 Professional Courses
                    p With our professional dance courses, we provide a developed dynamic program for those who wish to pursue dance as a profession or as a career. We aim for a professional growth of dancers, expose them to different dance styles like, Belly, Hip-Hop, contemporary, Ballet etc. To give them the best performance experience, skills, stage presentation and much more.
                    button.btn1 
                            | EXPLORE MORE
        hr#line
        