extends base.pug

block scripts 
  script(src = "/static/index.js")

block style 
   style 
    include ../static/style.css
    include ../static/styleContact.css
block content 
    // Message box
    .message.success(style="display: none;") Your message has been received!
    //- Use class="error" for error messages

    // Contact Form
    .container
      h1 Contact Us
      h2 To contact one of our other offices please see the details below.
      form.myform(action="/contact", method="POST")
        input.myinput(type="text", name="firstName", placeholder="First Name*")
        input.myinput(type="text", name="lastName", placeholder="Last Name*")
        input.myinput(type="email", name="email", placeholder="Email address*")
        input.myinput(type="tel", name="phone", placeholder="Contact number")
        input.myinput(type="text", name="street", placeholder="Street")
        input.myinput(type="text", name="city", placeholder="City")
        textarea(name="brief", placeholder="Brief Description of Yourself")
        button.btn(type="submit") Submit

    hr
