doctype html 
html 
    head 
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css", integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer")
      title Ronit Dance Academy
      style 
          include ../static/style.css 
    body 
        nav#navbar.top 
         ul
          div#logo
            img(src = "https://static.vecteezy.com/system/resources/thumbnails/021/027/675/small/black-graphic-silhouette-of-a-dancing-man-isolated-element-logo-png.png")
            | RDA
          li #[a(href = "/") Home]
          li #[a(href = "/aboutus") About Us]
          li #[a(href = "/services") Services]
          li #[a(href = "/classinfo") Class Info]
          li #[a(href = "/contact") Contact us]
          i.fas.fa-bell
          a(href="/login")
            button.login Log In
          a(href="/signup")
            button.signin Sign Up
              
        section#introSection
           div.long
                div Welcome To Dance Academy 
            
           div
              img(class = "image1",src="https://static.vecteezy.com/system/resources/previews/043/343/955/non_2x/black-and-white-hip-hop-dance-move-dancer-illustration-vector.jpg")
              img(class = "image2", src = "https://static.vecteezy.com/system/resources/previews/043/343/838/non_2x/freestyle-hip-hop-dance-illustration-in-black-and-white-vector.jpg")
              img(class = "image3", src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB2KmMy_y0LqooHAM5nvddvydEI7hh7eSKnPPRs9YmGE_kha9UoUjZNq_lbxom59UsGMM&usqp=CAU")
        section#mission 
          h2 Dance Genres
          i.fa-solid.fa-arrow-left
          i.fa-solid.fa-arrow-right
          div.slider
            div.card
              h3 Ballet
              p Ballet productions vary between using elaborate costumes and staging and using minimal costuming and bare staging
              img(src = "https://images.stockcake.com/public/2/3/8/238e0c01-c6e8-4adf-a178-1fb2eb1cb4c1_medium/dancers-at-twilight-stockcake.jpg")
              a(href = "/enroll")
                button(class = "btn")
                  | Join Now
            div.card
              h3 Jazz
              p Known for its improvisational and dramatic body movements, the jazz dancing grew in popularity in early twentieth-century jazz clubs.
              img(src = "https://st5.depositphotos.com/2692701/67165/v/450/depositphotos_671655300-stock-illustration-silhouette-dancing-girls.jpg")
              a(href = "/enroll")
                button(class = "btn")
                  | Join Now
            div.card
              h3 Contemporary
              p Drawing on classical, modern and jazz dance styles, contemporary dance has evolved to incorporate many characteristics of a broader range of dance forms.
              img(src = "https://www.shutterstock.com/image-photo/young-african-american-male-dancer-600nw-2484208575.jpg")
              a(href = "/enroll")
                button(class = "btn")
                  | Join Now
            div.card
              h3 Hip-Hop
              p Hip-hop dancing refers to a range of street dances that developed in relation to hip hop music and culture. 
              img(src = "https://t3.ftcdn.net/jpg/04/16/77/72/360_F_416777220_1wLyOwwSXAHJRCQbylVIXif3exe2X3gP.jpg")
              a(href = "/enroll")
                button(class = "btn")
                  | Join Now
            div.card
              h3 Ballroom
              p Dances within these categories include the waltz, tango and foxtrot, and pasodoble, bolero and samba.
              img(src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3JGmivArDS3rbNBv2PLAz-Gc_oY_L7QRcMQ&s")
              a(href = "/enroll")
                button(class = "btn")
                  | Join Now
            div.card
              h3 Tap Dancing
              p Often performed as part of musical theatre, tap dancing often focuses on choreography and formations, with more than one tap dancer performing at once.
              img(src = "https://t3.ftcdn.net/jpg/12/65/86/52/360_F_1265865233_Lh1MX1UsNUfz8Ji8jigjdcXzJJSnaSAJ.jpg")
              a(href = "/enroll")
                button(class = "btn")
                  | Join Now
            div.card
              h3  Folk Dance
              p Folk dancing is celebrated worldwide with people of different cultures and religions using various forms of folk dance to portray emotions, even aspects of daily life.
              img(src = "https://t4.ftcdn.net/jpg/00/84/09/49/360_F_84094964_qotli3Xd9fkFb41IaRqrt268VtexRpM8.jpg")

              a(href = "/enroll")
                button(class = "btn")
                  | Join Now
            div.card
              h3 Irish Dance
              p Most Irish dancing events are traditionally accompanied by signing and music. During festivals, dances are held to showcase talent and to compete for trophies.
              img(src = "https://mishmashmanagement.com/wp-content/uploads/2020/03/20-Acrobatics.png")
              a(href = "/enroll")
                button(class = "btn")
                  | Join Now
        hr
        section#whyRDA
          h2 Why Choose Ronit Dance Academy?
          div.container
            div.left
              video(width="250" height="400"  autoplay muted loop)
                source(src="static/video.mp4" type="video/mp4")
                | Your browser does not support the video tag.

            div.right
              h3 Passion Meets Precision
              p At Ronit Dance Academy, we believe dance is more than just movement it's a language of the soul. Our mission is to inspire creativity, build confidence, and nurture every student’s unique style through expert guidance and a supportive community.
              p Whether you’re a complete beginner or a seasoned performer, we offer tailored classes in Ballet, Hip-Hop, Contemporary, Jazz, and more designed to help you grow, express, and shine. Our experienced instructors focus on individual attention, technical mastery, and joy in learning.
              p With state-of-the-art studios, regular stage performances, and national-level exposure, we’re not just teaching dance we're building artists of tomorrow. Come, be a part of a movement that transforms lives through rhythm and grace.
              a(href="/classinfo")
               button(class="btn") 
                 | Explore Our Classes
        hr
        section#sponsorsSection
          div.first
              h3 Ronit Dance Academy 
              p  Dance is one of the most expressive crafts known to mankind. People of all ages and preferences admire dance and, people inIndia are no different. In our country…
          div.second
            h3 Dance Course 
            ul 
              li Ballet
              li Ballroom
              li Contemporary
              li Hip Hop
              li Jazz
              li Tap Dancing
              li Folk Dance
              li Irish Dance
          div.third
            h3 Dance Studio 
            ul 
              li ABOUT US
              li PACKAGE
              li ONLINE CLASSES
              li OUR EVENTS
              li OUR BLOG
              li CAREER
          div.fourth
            h3 Get In Touch 
            ul 
              li 
               i.fab.fa-google
               | &nbsp;&nbsp;ronitsingh9568@gmail.com
              li 
               i.fas.fa-phone
               | &nbsp;&nbsp;+91 8445356705
              li 
               i.fas.fa-map-marker-alt
               | &nbsp;&nbsp;Dehradun, Premnagar 248001

              li Ronit fashion
              li Ronit Dance Troupe

              div.logos
               a(href = "https://www.facebook.com/" target="_blank")
                  i.fa-brands.fa-facebook
               a(href = "https://www.whatsapp.com/" target="_blank")
                  i.fa-brands.fa-whatsapp
               a(href = "https://www.instagram.com/" target="_blank")
                i.fa-brands.fa-instagram
               a(href = "https://www.twitter.com/" target="_blank")
                  i.fa-brands.fa-twitter
        footer 
         | Terms & Conditions | Privacy Policy © 2025 | All rights reserved - Ronit Dance Academy.
        script 
         include ../static/index.js

